.filter {
  display: flex;
  gap: 20px;
  align-items: flex-end;
  padding: 20px;
}

.filterGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.filterGroup label {
  color: rgba(141, 146, 154, 1);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.mileageInputs {
  display: flex;
  gap: 0;
}

.mileageInputs .inputFrom {
  padding: 12px 24px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 1px solid rgba(218, 221, 225, 1);
  background-color: rgba(247, 247, 247, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  width: 160px;
}

.mileageInputs .inputTo {
  padding: 12px 24px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: rgba(247, 247, 247, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  width: 160px;
}

.mileageInputs .inputFrom:focus,
.mileageInputs .inputTo:focus {
  z-index: 1;
}

.searchButton {
  width: 156px;
  height: 44px;
  border: none;
  border-radius: 12px;
  padding: 12px 51px;
  background-color: rgba(52, 112, 255, 1);
  cursor: pointer;
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  transition: background-color 0.3s;
}

.searchButton:hover {
  background-color: rgba(11, 68, 205, 1);
}

.selectBrand,
.selectPrice {
  width: 204px;
  padding: 12px 24px;
  border: none;
  border-radius: 12px;
  background-color: rgba(247, 247, 247, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  overflow-y: auto;
  max-height: 200px;
  color: rgba(16, 24, 40, 1);
}

.selectBrand::-webkit-scrollbar,
.selectPrice::-webkit-scrollbar {
  width: 8px;
}

.selectBrand::-webkit-scrollbar-track,
.selectPrice::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 12px;
}

.selectBrand::-webkit-scrollbar-thumb:hover,
.selectPrice::-webkit-scrollbar-thumb:hover {
  background-color: rgba(218, 221, 225, 1);
}

.selectBrand,
.selectPrice {
  scrollbar-width: thin;
  scrollbar-color: rgba(218, 221, 225, 1) rgba(255, 255, 255, 1);
}

.selectBrand option,
.selectPrice option {
  font-weight: 500;
  font-size: 16px;
  color: rgba(100, 100, 100, 1);
  background: rgba(247, 247, 247, 1);
}

.selectBrand option:checked,
.selectPrice option:checked {
  color: rgba(20, 20, 20, 1);
  font-weight: 600;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.dropdownIcon {
  position: absolute;
  right: 16px;
  width: 16px;
  height: 16px;
  pointer-events: none;
}
