.filter {
  display: flex;
  gap: 20px;
  align-items: flex-end;
  padding: 20px;
}

.filterGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.filterGroup label {
  color: rgba(141, 146, 154, 1);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.selectBrand,
.input {
  width: 204px;
  padding: 12px 24px;
  border: none;
  border-radius: 12px;
  background-color: rgba(247, 247, 247, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.selectPrice,
.input {
  padding: 12px 24px;
  width: 196px;
  border: none;
  border-radius: 12px;
  background-color: rgba(247, 247, 247, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.mileageInputs {
  display: flex;
}

.mileageInputs .inputFrom {
  padding: 12px 24px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border: none;
  background-color: rgba(247, 247, 247, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  width: 160px;
}

.mileageInputs .inputTo {
  padding: 12px 24px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border: none;
  background-color: rgba(247, 247, 247, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  width: 160px;
}

.searchButton {
  width: 156px;
  height: 44px;
  border: none;
  border-radius: 12px;
  padding: 12px 51px;
  background-color: rgba(52, 112, 255, 1);
  cursor: pointer;
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  transition: background-color 0.3s;
}

.searchButton:hover {
  background-color: rgba(11, 68, 205, 1);
}
